<a href="https://colab.research.google.com/github/amanpre/demo-repo/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Find the value of i that produces a True:

1. There are 2 sisters, Annie and Jane, born in 1996 and 1999 respectively. They want to know who was born in a leap year. Write an if-else statement to determine who was born in a leap year.

In [4]:
Annie=1996
Jane=1999
if Annie%4==0:
    print("Annie was born in a leap year")
elif Jane%4==0:
    print("Jane was born in a leap year")
else:
    print("None of them were born in a leap year")

Annie was born in a leap year

2. In a school canteen, children under the age of 9 are only given milk porridge for breakfast. Children from 10 to 14 are given a sandwich, and children from 15 to 17 are given a burger. The canteen master asks the age of the student and gives them breakfast accordingly. Sam's age is 10. Use if-else statement to determine what the canteen master will offer to him.

In [6]:
age = 10
if age <=9:
    print ("You will get milk porridge!")
elif age>=10 and age<=14:
    print ("You will get a sandwich!")
elif age>=15 and age<=17:
    print("You will get a burger!")

You will get a sandwich!

Write a for loop the prints out all the element between -5 and 5 using the range function

In [9]:
for i in range(-5, 5):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4

Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.

In [11]:
Genres = ['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for words in Genres:
    print(words)

rock
R&B
Soundtrack
R&B
soul
pop

Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']

In [12]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']
for colors in squares:
  print(colors)

red
yellow
green
purple
blue

Your little brother has just learned multiplication tables in school. Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using for loop.

In [13]:
print("Multiplication table of 6:")
for i in range (1, 11):
    print("6*",i,"=",6*i)
print("Multiplication table of 7:")
for i in range (1, 11):
    print("7*",i,"=",7*i)

Multiplication table of 6:
6* 1 = 6
6* 2 = 12
6* 3 = 18
6* 4 = 24
6* 5 = 30
6* 6 = 36
6* 7 = 42
6* 8 = 48
6* 9 = 54
6* 10 = 60
Multiplication table of 7:
7* 1 = 7
7* 2 = 14
7* 3 = 21
7* 4 = 28
7* 5 = 35
7* 6 = 42
7* 7 = 49
7* 8 = 56
7* 9 = 63
7* 10 = 70