<a href="https://colab.research.google.com/github/amanpre/demo-repo/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

There are 2 sisters, Annie and Jane, born in 1996 and 1999 respectively. They want to know who was born in a leap year. Write an if-else statement to determine who was born in a leap year.

Find the value of i that produces a True:

In [1]:
i= 1
i!=0

True

Find the value of x that prints the statement "this is a":

In [2]:
x= 'a'
if x =='a':
    print("this is a")
else:
    print("this is  not a")

this is a

Find the value of y that produces a True statement:

In [3]:
y=2
x=1
x>0 and y<10

True