<a href="https://colab.research.google.com/github/amanpre/demo-repo/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Find the value of i that produces a True:

In [1]:
i= 1
i!=0

True

Find the value of x that prints the statement "this is a":

In [2]:
x= 'a'
if x =='a':
    print("this is a")
else:
    print("this is  not a")

this is a

Find the value of y that produces a True statement:

In [3]:
y=2
x=1
x>0 and y<10

True

1. There are 2 sisters, Annie and Jane, born in 1996 and 1999 respectively. They want to know who was born in a leap year. Write an if-else statement to determine who was born in a leap year.

In [4]:
Annie=1996
Jane=1999
if Annie%4==0:
    print("Annie was born in a leap year")
elif Jane%4==0:
    print("Jane was born in a leap year")
else:
    print("None of them were born in a leap year")

Annie was born in a leap year

2. In a school canteen, children under the age of 9 are only given milk porridge for breakfast. Children from 10 to 14 are given a sandwich, and children from 15 to 17 are given a burger. The canteen master asks the age of the student and gives them breakfast accordingly. Sam's age is 10. Use if-else statement to determine what the canteen master will offer to him.

In [6]:
age = 10
if age <=9:
    print ("You will get milk porridge!")
elif age>=10 and age<=14:
    print ("You will get a sandwich!")
elif age>=15 and age<=17:
    print("You will get a burger!")

You will get a sandwich!